/* Start Frameworks  */

.p-rel {
    position: relative;
}

.flx {
    display: flex;
}

.active-sb {
    background-color: rgb(70, 70, 70);
}

.max-w {
    max-width: 250px;
}

/* End Frameworks  */